<html>
	<head>
		<link href="../assets/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class='container'>
			<h1>All Events</h1>
			<!--{{#list}}-->
				<!--<p>{{.}}</p>-->
			<!--{{/list}}-->
		</div>
	</body>
</html>